{% extends 'base.html' %}

{% block content %}
{% load static %}
<h1>Notifications</h1>
{% for notification in notifications %}
    <h4>
        <a href="{% url 'user-info' notification.actor.pk %}">
        <img 
        {% if notification.actor.avatar %}
            src="{{ notification.actor.avatar.url }}"
        {% else %}
            src="{% static 'images/default_avatar.jpg' %}" 
        {% endif %} class="sidebar-avatar">
        {{ notification.actor }}
        </a>
        <a href="{{ notification.get_url }}">{{ notification.get_message }}, View</a>
    </h4>
{% endfor %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch("{% url 'mark_notifications_as_read' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: JSON.stringify({})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Сповіщення успішно позначені як прочитані.');
            } else {
                console.error('Помилка при позначенні сповіщень як прочитаних:', data.error);
            }
        })
        .catch(error => console.error('Помилка:', error));
    });
</script>
{% endblock %}