{% extends "base.html" %}

{% block title %} Kasagram {% endblock %}

{% load static %}
{% block header %}
<header class="home-header d-flex gap-3">
    <span onclick="filterPosts('for_you')" class="pointer {% if category == 'for_you' %}active {% else %} gray-text {% endif %}">For you</span>
    <span onclick="filterPosts('following')" class="pointer {% if category == 'following' %}active {% else %} gray-text {% endif %}">Followed</span>
</header>
{% endblock %}

{% block content %}

<article id="post-container">
	{% include "post_system/post_list.html" %}
</article>
<section id="loading" style="display:none;">Завантаження...</section>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/post_system/navigation.js' %}" defer></script>
<script src="{% static 'js/post_system/infinite_scroll.js' %}" defer></script>
{% endblock %}