{% extends 'base.html' %}

{% block title %} Kasagram {% endblock %}

{% block content %}
{% load static %}
{% load common_tags %}
{% load humanize %}
<article class="main-container" >
	<article class="post-detail-container d-flex justify-content-center">
		<img src="{{post.media.url}}" class="post-detail-media">
		<article class="d-flex flex-column p-3 py-0 post-detail-sidebar">
			<section class="post-user-info d-flex border-bottom border-secondary">
				<a href="{% url 'user-info' post.user.pk %}"><img src="{{ post.user.avatar.url }}" class="sidebar-avatar me-3"></a>
				<a href="{% url 'user-info' post.user.pk %}"><b>{{ post.user }}</b></a>
			</section>
			{% if post.content %}
				<section class="d-flex">
					<a href="{% url 'user-info' post.user.pk %}"><img src="{{ post.user.avatar.url }}" class="sidebar-avatar me-3"></a>
					<p><a href="{% url 'user-info' post.user.pk %}"><b>{{post.user.username}}</b></a> {{ post.content }}</p>
				</section>	
			{% endif %}
			<ul id="comments" class="comments">
				{% for comment in post.comments.all %}
					{% if not comment.parent %}
						<li id="comment-{{ comment.pk }}" class="comment-container mt-3">
							<div class="d-flex w-100">
								<section class="d-flex flex-column flex-grow-1">
									<section class="d-flex">
										<a href="{% url 'user-info' comment.user.pk %}">
											<img src="{% if comment.user.avatar %}{{ comment.user.avatar.url }}{% else %}{% static 'images/default_avatar.jpg' %}{% endif %}" class="sidebar-avatar me-3">
										</a>
										<p>
											<a href="{% url 'user-info' comment.user.pk %}"><b>{{ comment.user }}</b></a> 
											{{ comment.content }}
										</p>
									</section>                  
									<div class="d-flex gap-3 align-items-center">
										<small class="gray-text">{{ comment.date_published|custom_date }}</small>
										<small class="pointer text-secondary fw-bold" onclick="prepareReply({{ comment.pk }}, '{{ comment.user.username }}')">Reply</small>
									</div>
								</section>

								{% if request.user == comment.user %}
								<section>
									<a href="{% url 'post:update-comment' comment.pk %}"><span class="material-symbols-outlined pointer">edit</span></a>
									<span class="material-symbols-outlined pointer" onclick="deleteComment({{ comment.pk }})">delete</span>
								</section>
								{% endif %}
							</div>

							<article class="replies-list ms-3 mt-2 border-start custom-border ps-3 d-flex flex-column">
								{% for reply in comment.replies.all %}
									<article class="d-flex" id="comment-{{ reply.pk }}">
										<section  class="d-flex flex-column mb-2" style="flex-grow: 1;">
											<section class="d-flex">
												<a href="{% url 'user-info' reply.user.pk %}">
													<img src="{% if reply.user.avatar %}{{ reply.user.avatar.url }}{% else %}{% static 'images/default_avatar.jpg' %}{% endif %}" class="sidebar-avatar me-3" style="width: 25px; height: 25px;">
												</a>
												<p><a href="{% url 'user-info' reply.user.pk %}"><b>{{ reply.user }}</b></a> {{ reply.content }}</p>
											</section>                  
											<small class="gray-text">{{ reply.date_published|custom_date }}</small>
										</section>
										{% if request.user == reply.user %}
											<section>
												<a href="{% url 'post:update-comment' reply.pk %}"><span class="material-symbols-outlined pointer">edit</span></a>
												<span class="material-symbols-outlined pointer" onclick="deleteComment({{ reply.pk }})">delete</span>
											</section>
										{% endif %}
									</article>
								{% endfor %}
							</article>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		<section>
			<span onclick="likePost({{post.pk}})" class="pointer like-btn {% for like in post.likes.all %}{% if request.user == like.user %}liked{% endif %}{% endfor %}" id="like-btn-{{ post.pk }}">
				<span class="heart">&hearts;</span> 
			</span>
			{% if request.user == post.user %}
				<a href="{% url 'post:update_post' post.pk %}" class="p-2"><span class="material-symbols-outlined pointer">edit</span></a>
				<a href="{% url 'post:delete_post' post.pk %}" class="p-2"><span class="material-symbols-outlined pointer">delete</span></a>
			{% endif %}
			<span class="material-symbols-outlined pointer" class="p-2">comment</span>
		</section>
		<section class="post-info">
			<p><span id="like-count-{{ post.pk }}">{{ post.likes.count }}</span> likes</p>
			<p class="gray-text">{{ post.date_published|custom_date }}</p>
		</section>
		
		<section class="msg-input-container"> 
			<div id="reply-preview" class="reply-preview-bar d-none">
				<div class="d-flex justify-content-between align-items-center w-100">
					<span>Replying to <b id="reply-to-username">@username</b></span>
					<span class="material-symbols-outlined pointer cancel-reply" onclick="cancelReply()">close</span>
				</div>
			</div>

			<section class="msg-input d-flex">
				<textarea id="message-content" placeholder="Add a comment..."></textarea>
				<span class="material-symbols-outlined pointer p-3 pt-2" onclick="SendComment({{post.pk}})">Send</span>
			</section>
		</section>
	</article>
</article>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/post_system/comment_actions.js' %}" defer></script>
<script src="{% static 'js/post_system/interactions.js' %}" defer></script>
{% endblock %}