* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --bg-dark: #121212;
    --card-dark: #1E1E1E;
    
    /* Наш основний колір для ліній та рамок */
    --border-color: #2D2D2D; 
    
    /* Колір для ледь помітних розділювачів */
    --border-soft: rgba(255, 255, 255, 0.05); 

    --text-main: #F0F0F0;
    --text-secondary: #B0B0B0;
	--accent-red: #E74C3C;
}

body {
	background-color: #121212;
	color: var(--text-main);
	align-items: center;
}

[class^="gap"] {
    display: flex; /* Автоматично робимо флексом все, що починається на gap */
}

a, a:visited  {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0;
}

.pointer {
	cursor: pointer;
	user-select: none;
}

.gray-text {
	color: gray;
}

.gap {
	gap: 25px;
}
.gap2 {
	gap: 50px;
}
.gap3 {
	gap: 80px;
}

.main-container {
	margin: 40px 0 0 0;
	width: 100%;
}

.main-index {
	width: calc(100% - 280px);
	align-items: center;
}
.form {
	width: 60vw;
}


.custom-dark-input {
	background-color: var(--card-dark) !important;
	border: 1px solid var(--border-color) !important;
	color: var(--text-main) !important;
	border-radius: 8px;
	padding: 12px;
	transition: border-color 0.2s;
}

.custom-dark-input:focus {
	outline: none;
	border-color: var(--text-secondary) !important;
	box-shadow: none !important;
}


.btn-submit {
	background-color: var(--text-main);
	color: var(--bg-dark);
	border: none;
	padding: 10px 30px;
	border-radius: 6px;
	font-weight: 600;
}

/* Стилізація textarea, якщо вона є у формі */
textarea.custom-dark-input {
	min-height: 120px;
}

.custom-label {
	color: var(--text-secondary); 
	font-size: 0.9rem;
}