.a-btn{
	padding: 5px 15px;
	background-color: var(--card-dark);
	border-radius: 10px;
	border: 1px solid var(--border-color);
	color: var(--text-main);
}

.a-btn:hover {
    background-color: #2A2A2A;
    border-color: #383838;
}

li > a {
	width: 100%;
	height: 100%;
}

.active {
    font-weight: bold;
}

.active img {
    border: 2px solid var(--text-main);
    padding: 2px; /* Створить чорну щілину між фото і білим колом */
    background-color: var(--bg-dark);
}

.like-btn .heart {
    font-size: 36px;
    color: transparent;
    -webkit-text-stroke-width: 1.5px; 
    -webkit-text-stroke-color: var(--text-secondary); /* Спокійний сірий контур */
    transition: 0.2s;
}

.like-btn .heart:hover {
	-webkit-text-stroke-color: gray; 
}

.like-btn.liked .heart {
    color: var(--accent-red);
    -webkit-text-stroke-width: 0px; 
    filter: drop-shadow(0 0 8px rgba(231, 76, 60, 0.3)); /* М'яке червоне сяйво */
}

.new-notification-icon {
    background-color: var(--accent-red);
    color: var(--text-main);
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 5px;
    font-size: 11px;
	font-weight: bold;
}

.msg-input {
	width: 95%;
	border-radius: 20px;
	border: 1px solid var(--border-color);
	height: 50px;
	color: var(--text-main);
    background-color: var(--card-dark);
}

.msg-input:focus-within {
    border-color: #444; /* Підсвічуємо рамку, коли користувач пише */
}

#message-content {
	width: 95%;
	background-color: transparent;
	color: var(--text-main);
	border:0;
	padding: 10px;
}

#message-content:focus {
	outline: none;
}

.status-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid var(--bg-dark);
    margin-right: 8px;
    transition: background-color 0.3s ease;
}

/* Коли юзер онлайн */
.status-dot.online {
    background-color: #2ecc71; /* Соковитий зелений */
    box-shadow: 0 0 5px #2ecc71; /* Легке сяйво */
}

/* Коли юзер офлайн */
.status-dot.offline {
    background-color: #95a5a6; /* Спокійний сірий */
}