
.logo {
	font-family: "Playwrite IT Moderna", cursive;
	font-size: 24px;
	width: 100%;
	margin-bottom: 50px;
}

.a-btn{
	padding: 5px 15px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	color: white;
}

li > a {
	width: 100%;
	height: 100%;
}

.active {
    font-weight: bold;
}

.active img {
	border: 2px solid white;
}

.like-btn .heart {
	font-size: 36px;
    color: black; /* Порожнє сердечко */
	-webkit-text-stroke-width: 1px; 
	-webkit-text-stroke-color: white; 
}
.like-btn .heart:hover {
	-webkit-text-stroke-color: gray; 
}
.like-btn.liked .heart {
	color: red; /* Заповнене сердечко */
	-webkit-text-stroke-width: 0px; 
}

.delete-btn {
	color: transparent;
	transition: 0.3s;
}

.delete-btn:hover {
	color: white;
}

.new-notification-icon {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 5px;
    font-size: 12px;
}

.msg-input {
	width: 95%;
	border-radius: 20px;
	border: 2px solid rgba(255, 255, 255,0.2);
	height: 50px;
}

#message-content {
	width: 95%;
	background-color: transparent;
	color: white;
	border:0;
	padding: 10px;
} 
#message-content:focus {
	outline: none;
}

.status-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid white; /* Біла обводка, щоб гарно виглядало на фоні */
    margin-right: 8px;
    transition: background-color 0.3s ease; /* Плавний перехід кольору */
}

/* Коли юзер онлайн */
.status-dot.online {
    background-color: #2ecc71; /* Соковитий зелений */
    box-shadow: 0 0 5px #2ecc71; /* Легке сяйво */
}

/* Коли юзер офлайн */
.status-dot.offline {
    background-color: #95a5a6; /* Спокійний сірий */
}