.sidebar {
	border-right: 2px solid rgba(255, 255, 255, 0.1);
	height: 100%;
	width: 350px;
	display: inline-block;
	position: fixed;
    top: 0;
    left: 0;
	z-index: 1;
}

.sidebar ul {
	height: 100%;
	width: 80%;
	padding: 20px;
}

.sidebar-item {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	font-size: 18px;
	transition: 0.5s;
}

.sidebar-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-avatar {
	border-radius: 30px;
	width: 24px;
	height: 24px;
}