.profile-post-container {
	width: 300px;
	height: 300px;
}

.profile-post-media {
	width: 100%;
	height: 95%;
}

.post-hover-info {
	color: transparent;
	width: 100%;
	height: 100%;
	bottom: 100%;
	position: relative;
	padding: 100px;
	transition: 0.1s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.post-hover-info:hover {
	color: #E4E4E4;
	background-color: rgba(0, 0, 0, 0.3);
}

.user-container {
	width: 75%;
}

.profile-avatar {
	border-radius: 100px;
	width: 175px;
	height: 175px;
	border: #E4E4E4 solid 2px;
}