{% extends 'base.html' %}
{% load static %}
{% block title %}Chat{% endblock %}

{% block content %}
{% load static %}
{% load humanize %}
<article class="chat-container d-flex flex-column">
    <article class="px-3 d-flex flex-column border-bottom border-secondary mb-1">
        <section class=" pt-2 d-flex align-items-center">
            <span id="status-{{ participant.username }}" 
                            class="status-dot m-2 {% if participant.is_online %}online{% else %}offline{% endif %}">
            </span>
            <a href="{% url 'user-info' participant.pk %}"><img
                    {% if participant.avatar %}
                    src="{{ participant.avatar.url }}"
                    {% else %}
                    src="{% static 'images/default_avatar.jpg' %}"
                    {% endif %}
                    class="profile-avatar me-2" style="width: 36px;height: 36px;"></a>
            <a href="{% url 'user-info' participant.pk %}" class="h2">{{ participant.username }}</a>
        </section>
        <section class="d-flex flex-column px-2">
             <p class="text-secondary" id="last-seen-{{ participant.username }}">{% if not participant.is_online %}  last seen {{ participant.last_seen|naturaltime }} {% endif %}</p> 
            <p id="typing-indicator" class="text-info h6 "></p>
        </section>
    </article>

    <section id="chat-messages" class="d-flex flex-column-reverse">
        {% for message in messages %}
        <article class="d-flex mx-3 mb-2 {% if message.is_me %}flex-row-reverse{% else %}flex-row{% endif %}" id="message-{{ message.id }}">
            <div class="message-wrapper {% if message.is_me %}sent{% else %}received{% endif %}"
                oncontextmenu="prepareMessageReply({{ message.id }}, '{{ message.username }}', '{{ message.content|truncatechars:30 }}'); return false;">
                
                <div class="message-content">
                    {% if message.parent_content %}
                        <div class="reply-in-message border-start ps-2 mb-1 pointer" style="border-left: 3px solid #007bff !important; background: rgba(0,0,0,0.05);" onclick="scrollToMessage({{ message.parent.pk }})">
                            <small class="fw-bold d-block">{{ message.parent_username }}</small>
                            <small class="text-truncate d-block">{{ message.parent_content }}</small>
                        </div>
                    {% endif %}

                    <span class="message-text">{{ message.content }}</span>
                    <span class="status-spacer"></span>
                    
                    <div class="message-meta-container">
                        <time class="message-time" datetime="{{ message.timestamp|date:'Y-m-d H:i' }}">{{ message.formatted_time }}</time>

                        {% if message.is_me %}
                            <span class="material-symbols-outlined status-icon {% if message.is_read %}read{% endif %}">
                                {% if message.is_read %}done_all{% else %}check{% endif %}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined pointer text-secondary small mx-1" 
                    onclick="prepareMessageReply({{ message.id }}, '{{ message.username }}', '{{ message.content|truncatechars:30 }}')">
                    reply
                </span>
                
                {% if message.is_me %}
                    <span onclick="deleteMessage({{ message.id }})" class="delete-btn pointer material-symbols-outlined">delete</span>
                {% endif %}
            </div>
        </article>
    {% endfor %}
    </section>
    <section class="msg-input-container m-2">
        <div id="reply-preview" class="reply-preview-bar d-none border-bottom p-2 mb-1 d-flex justify-content-between align-items-center">
            <div class="border-start ps-2" style="border-left: 3px solid #007bff !important;">
                <span class="small d-block text-primary">Replying to <b id="reply-to-username">@username</b></span>
                <span id="reply-to-content" class="small text-truncate d-block" style="max-width: 250px;">Text...</span>
            </div>
            <span class="material-symbols-outlined pointer cancel-reply" onclick="cancelMessageReply()">close</span>
        </div>

        <section class="msg-input d-flex">
            <input type="hidden" id="reply-parent-id" value="">
            <textarea id="message-content" placeholder="Type a message..."></textarea>
            <span class="material-symbols-outlined pointer p-3 pt-2" onclick="SendMessage()">Send</span>
        </section>
    </section>
</article>

{% endblock %}
{% block scripts %}
<script>
    window.ChatConfig = {
        fetchMessagesUrl: "{% url 'chat_api:get_messages' chat.pk %}",
        sendMessageUrl: "{% url 'chat:chat_detail' chat.pk %}",
        chatId: "{{ chat.pk }}",
        currentUser: "{{ request.user.username }}"
    };
</script>
<script src="{% static 'js/chat/message.js' %}" defer></script>
{% endblock %}