{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="main-container d-flex justify-content-center">
    <div class="form">
        {# 1. Розумний заголовок #}
        <h2 class="mb-4">
            {% if title %}
                {{ title }}
            {% elif request.resolver_match.url_name == 'login' %}
                Login
            {% elif request.resolver_match.url_name == 'register' %}
                Register
            {% elif request.resolver_match.url_name == 'edit-user' %}
                Edit User
            {% elif form.instance.pk %}
                Edit Post
            {% else %}
                Create Post
            {% endif %}
        </h2>

        {% if form.non_field_errors %}
            <div class="mb-2 red">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-3">
                    <label class="mb-2 custom-label">
                        {{ field.label }}
                    </label>
                    
                    {% render_field field class="form-control custom-dark-input" %}
                    
                    {% if field.name == 'media' and form.instance.media %}
                        <div class="mt-2 mb-2">
                            <img src="{{ form.instance.media.url }}" class="preview-media">
                        </div>
                    {% endif %}

                    {% if field.name == 'avatar' and user.avatar %}
                        <div class="mt-2 mb-2">
                            <img src="{{ user.avatar.url }}" 
                                class="profile-avatar">
                        </div>
                    {% endif %}

                    {% if field.errors %}
                        <div style="font-size: 0.85rem;" class="red mt-1">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="flex-column gap-3">
                <div class="d-flex gap">
                    <button type="submit" class="btn-submit pointer">Submit</button>
                    <a href="{% url 'post:index' %}" class="gray-text pointer align-self-center">Cancel</a>
                </div>

                <div class="mt-3 d-flex flex-column gap-2" style="font-size: 0.9rem;">
                    {% if request.resolver_match.url_name == 'edit-user' %}
                        <a href="{% url 'password_change' %}" class="gray-text pb-2">
                            <span class="material-symbols-outlined align-middle" >lock</span>
                            Change password
                        </a>
                    {% endif %}

                    {% if request.resolver_match.url_name == 'login' %}
                        <p>
                            <span class="gray-text">Don't have an account?</span> 
                            <a href="{% url 'register' %}" class="fw-bold">Register</a>
                        </p>
                    {% elif request.resolver_match.url_name == 'register' %}
                        <p>
                            <span class="gray-text">Already have an account?</span> 
                            <a href="{% url 'login' %}" class="fw-bold">Login</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}