{% extends "base.html" %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}
{% load static %}
<article class="main-container d-flex justify-content-center">
    <article class="d-flex flex-column align-items-center user-container">
        <section class="gap3 ps-4 profile-header">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="profile-avatar">
            {% else %}
                <img src="{% static 'images/default_avatar.jpg' %}" class="profile-avatar">
            {% endif %}
            <article class="flex-column gap">
                <article class="gap">
                    <a href="{% url 'user-info' user.pk %}" class="h4">{{user.username}}</a>
                    {% if request.user == user %}
                        <a href="{% url 'edit-user' %}" class="a-btn">Edit profile</a>
                        <span class="material-symbols-outlined">settings</span>
                    {% else %}
                        <button id="follow-button-{{ user.pk }}" class="a-btn" onclick="toggleFollow({{ user.pk }})">
                            {% if is_following %}Unfollow{% else %}Follow{% endif %}
                        </button>
                        <a href="{% url 'chat:start_chat' user.pk %}" class="a-btn">Start Chat</a>
                    {% endif %}
                </article>
                <ul class="gap">
                    <li><b>{{user.posts.count}}</b> posts</li>
                    <li><a href="{% url 'get-followers' user.pk %}"><span id="followers-count"><b>{{ user.followers.count }}</b></span> followers</a></li> 
                    <li><a href="{% url 'get-following' user.pk %}"><span id="following-count"><b>{{ user.following.count }}</b></span> following</a></li>
                </ul>
                <article class="d-flex flex-column">
                    <b>{{user.first_name}} {{user.last_name}}</b>
                    <i>{{user.bio}}</i>
                </article>
            </article>
        </section>
        <h2 class="mt-5 mb-4">User posts:</h2>
        <section class="row justify-content-start"> 
            {% for post in user.posts.all %}
                <div class="col-4 profile-post-container"> 
                    <article class="post-wrapper"> 
                        <img src="{{ post.media.url }}" class="profile-post-media">
                        <a class="post-hover-info" href="{% url 'post:post-details' post.pk %}">
                            <span>&hearts; {{post.likes.count}}</span>
                            <span><span class="material-symbols-outlined">comment</span> {{post.comments.count}}</span>
                        </a>
                    </article>
                </div>
            {% endfor %}
        </section>
    </article>
</article>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/post_system/interactions.js' %}"></script>
{% endblock %}